@charset "UTF-8";

main {
	height: 80vh;
	align-items: center;
	justify-content: center;
}

.img-div {
	height: 100%;
	overflow:hidden;
}

.img-div img{
	width: 100%;
	height: auto;
}

main a {
	position: absolute;
	text-decoration: none;
	color: black;
	background-color: cornflowerblue;
	font-size: 18px;
	padding: 1em;
	border-radius: 5px;
}