<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	
	<link rel="stylesheet" th:href="@{/css/employees-list.css}" />

	<title>Employees Directory</title>
</head>
<body>
	<main class="container">
		<h2>Employees Directory</h2>
		<hr>
		<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>
			
			<tr th:each="employee : ${employees}">
				<th th:text="${employee.firstName}" />
				<th th:text="${employee.lastName}" />
				<th th:text="${employee.email}" />
			</tr>
		</table>
	</main>
</body>
</html>