<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- CSS -->
	<link th:href="@{/css/global.css}" rel="stylesheet">
	<link th:href="@{/css/index.css}" rel="stylesheet">
	
	<title>CRUD Database Project</title>
</head>

<body>
	<header>
		<h1>CRUD Database Project</h1>
	</header>
			
	<main>
		<div class="img-div">
			<img th:src="@{/images/background.jpg}" />
		</div>
		<a th:href="@{/employees/list}">Employee Directory</a>
	</main>
</body>
</html>